:root {
    /* colors */
  --color-primary: #FF682E;
  --color-white: #FFFFFF;
  --color-text-heading: #000000;
  --color-text-light: #818181;
      /* font-family */
  --font-family-heading: "Poppins", sans-serif;
  --font-family-body-text: "Arial", Helvetica, sans-serif;
  --font-family-monospace: "Fira Code", monospace;
    /* font-size navbar */
  --font-size-heading: 1.25rem;
    /* font-size main */
  --font-size-h1: 2.125rem;
  --font-size-h2: 1.75rem;
  --font-size-body: 1rem;
    /* font-size footer */
    --font-size-footer-sm: 1.125rem; 
    --font-size-footer-md: 1.198rem;
    --font-size-footer-lg: 1.35rem;
    --font-size-footer-xl: 1.5rem;
    --font-size-footer-xl2: 1.798rem;
    /* font style */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
    /* spacing navbar */
  --space-3xs: 0.625rem;
  --space-2xs:0.938rem;
  --space-xs:1.563rem;
  --space-sm: 1.875rem;
  --space-md: 2.246rem;
  --space-lg: 2.5rem;
  --space-lg-plus: 3.125rem;
  --space-xl: 5rem;  
  --space-xl2: 4.75rem;   
  --space-xl3: 6.365rem;
  --space-xl4: 9.375rem;    
  /* radius */
  --radius-xs: 0.5rem;
  --radius-sm: 0.938rem;
  --radius-md: 2.375rem;
  --radius-lg: 3.25rem;

}

img{
    max-width: 15rem;
}


header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
     padding: 0 var(--space-xl); 
    
    
}


.nav {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  align-content: center;
  

}

   .nav__list--secondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xl);
    list-style-type: none;
  }

  .nav__item{
    color:var(--color-text-heading) ;
    font-weight: var(--font-weight-semibold);
    font-size:var(--font-size-heading) ;
  }

  .nav__button{
    background-color: var(--color-primary);
    border-radius: var(--radius-lg);
    padding: var(--space-3xs) var(--space-xs) var(--space-3xs) var(--space-xs);
     font-size:var(--font-size-heading) ;
      color:var(--color-white);
  }

  .main__title{
    text-align: center;
    font-size: var(--font-size-h1);
  }


  .gallery{
     padding: var(--space-xl2) 0 var(--space-xl2) 0 ;
  }