html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-default);
  overflow-x: hidden;
}

:root {
  /* colors */
  --color-primary: #ff682e;
  --color-white: #ffffff;
  --color-text-heading: #000000;
  --color-text-light: #818181;
  --color-contact-section: #F6F6F6;
  --color-footer: #E9E9E9;
  /* font-family */
  --font-family-default: "Poppins", sans-serif;
  --font-family-body-text: "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  --font-family-footer: Arial, Helvetica, sans-serif;


  /* font-size navbar */
  --font-size-heading: 1.25rem;
  /* font-size main */
  --font-size-icon: 1.25rem;
  --font-size-h1: 2.125rem;
  --font-size-h2: 1.75rem;
  --font-size-body: 1rem;
  /* font-size footer */
  --font-size-footer-2xs: 0.579rem;
  --font-size-footer-xs: 0.961rem;
  --font-size-footer-sm: 1.125rem;
  --font-size-p: 1.348rem;
  --font-size-h3: 1.498rem;
  --font-size-icon: 4.194rem;
  --font-size-h2-plus: 2.097rem;
  --font-size-footer-md: 1.198rem;
  --font-size-footer-lg: 1.35rem;
  --font-size-footer-favicon: 1.498rem;
  --font-size-footer-xl: 1.5rem;
  --font-size-footer-xl2: 1.798rem;
  /* font style */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* spacing  */
  --space-5xs: 0.438rem;
  --space-4xs: 0.536rem;
  --space-3xs: 0.625rem;
  --space-2xs: 0.938rem;
  --space-1xs: 1.25rem;
  --space-xs: 1.563rem;
  --space-sm: 1.875rem;
  --space-sm-plus: 2.188rem;
  --space-md: 2.246rem;
  --space-md-plus: 2.375;
  --space-lg: 2.5rem;
  --space-lg-extra: 2.839rem;
  --space-lg-plus: 3.125rem;
  --space-xl: 3.943rem;
  --space-xl1: 4.75rem;
  --space-xl2: 5rem;
  --space-xl3: 5.286rem;
  --space-xl4: 6.365rem;
  --space-xl5: 9.375rem;
  --space-xl5-plus: 12.983rem;
  --space-xl6: 12.656rem;
  --space-xl7: 40.812rem;
  --space-xl8: 120rem;
  /* spacing for images  */
  --space-xs-gl: 18rem;
  --space-md-gl: 22.25rem;
  --space-lg-gl: 22.875rem;
  --space-lg-gl-plus: 23.75rem;
  --space-xl-gl: 27.469rem;
  --space-xl2-gl: 31.188rem;
  --space-xl3-gl: 32.688rem;

  /* radius */
  --radius-xs: 0.5rem;
  --radius-sm: 0.938rem;
  --radius-md: 2.375rem;
  --radius-lg: 3.25rem;

  /* line height */
  --line-height-gallery-text: 140%;
  --line-height-gallery-title: 120%;

  /*extra spaces */
  --logo-max-width: 15rem;
  --logo-width: 16rem;
  --logo-height: 4rem;
  --column-max-width: 15rem;
  --logo-width: 12rem;
  --logo-height: 3rem;
  --nav-width: 70rem;
  --logo-position-top: 0.641rem;
  --logo-position-left: 0.45rem;
  --main-title: 1.4rem;
  --container-section: 100rem;
}

/* header section*/

img:not(.logo) {
  width: 100%;
  max-width: var(--logo-max-width);
}

.logo {
  width: var(--logo-width);
  height: var(--logo-height);
}

.header__logo {
  margin-top: var(--space-4xs);
}

.nav__right {
  max-width: 100%;
  width: var(--nav-width);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--space-xl);
  transform: translateX(100%);
  transition: none;
  z-index: 1000;
}

.nav {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin: var(--space-2xs) 0;
  c
}

.nav__toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  background: #333;
  color: white;
  border: none;
  padding: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 6px;
}

.nav__right--open {
  transform: translateX(0%);
  transition: transform 0.6s ease;
}


.nav__list--secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  column-gap: var(--space-sm-plus);
  list-style-type: none;
  gap: var(--space-md);
}

.nav__item {
  color: var(--color-text-heading);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-heading);
}

.nav__icon__wrapper {
  display: flex;
  width: var(--space-xl3);
  height: var(--space-md-plus);
  gap: var(--space-4xs);
}

.nav__icon {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  width: var(--font-size-footer-xl);
  height: var(--font-size-footer-xl);
  padding: var(--space-5xs);
  border-radius: 50%;
  position: relative;
}

.nav__icon img {
  width: var(--font-size-footer-xl);
  height: var(--font-size-body);
  position: absolute;
  top: var(--logo-position-top);
  left: var(--logo-position-left);
}

.nav__button {
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
  padding: var(--space-3xs) var(--space-xs) var(--space-3xs) var(--space-xs);
  font-size: var(--font-size-heading);
  color: var(--color-white);
  border: none;
  white-space: nowrap;
}

.nav__item--button a {
  text-decoration: none;
}

.burger-icon {
  font-size: var(--font-size-footer-favicon);
  display: block;
  position: absolute;
  right: 1rem;
  top: 2.5rem;
}

.menu.open {
  transform: translateX(0);
}

/* main section */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-contact-section);
  margin-top: var(--space-1xs)
}

.main__title {
  text-align: center;
  font-size: var(--main-title);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  margin-left: var(--font-size-body);
  margin-right: var(--font-size-body);
}

.gallery__item {
  break-inside: avoid;
  margin-bottom: var(--space-2xs);
  text-align: center;
  border-radius: var(--radius-xs);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery__item--text {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--space-sm-plus) 0rem;
  line-height: var(--line-height-gallery-text);
}

.gallery__text {
  padding: 0 var(--space-sm-plus) 0 var(--space-sm-plus);
  margin-top: 0;
  font-family: var(--font-family-body-text);
  font-size: var(--space-2xs);
}

.gallery__title {
  margin-top: 0;
  margin-bottom: var(--space-4xs);
  line-height: var(--line-height-gallery-title);
  font-size: var(--space-2xs);
}

.gallery__item img {
  border-radius: var(--radius-xs);
  object-fit: cover;
  object-position: center;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.main__button-wrapper {
  text-align: center;
}

.main__button {
  background-color: var(--color-primary);
  padding: var(--space-1xs) var(--space-sm-plus) var(--space-1xs) var(--space-sm-plus);
  color: var(--color-white);
  font-size: var(--space-1xs);
  border: none;
}

.main__button img {
  width: var(--font-size-footer-xs);
  height: var(--font-size-footer-2xs);
}

.contact-section {
  background-color: var(--color-contact-section);
  width: 100%;
}

.contact-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 95%;
  width: var(--container-section);
  margin: 0 auto;

}

.contact__info {
  display: flex;
  gap: var(--space-md);
  padding: 0;
}

.contact__info--text {
  font-family: var(--font-family-footer);
}

.contact__subtitle {
  font-size: var(--font-size-footer-xs);
  color: var(--color-text-light);
}

.contact__address-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--font-size-h2-plus);
  font-style: normal;
}

.contact__address-content a {
  text-decoration: none;
  color: var(--color-text-heading);
  font-size: var(--font-size-footer-xs);
}

.contact__address {
  align-content: center;
}

.contact__address-content img {
  width: var(--font-size-footer-xs);
  height: var(--font-size-footer-xs);
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  width: var(--font-size-footer-favicon);
  height: var(--font-size-footer-md);
  padding: var(--space-1xs);
  border-radius: var(--radius-xs);
  position: relative;
}

.contact__telephone__info {
  display: flex;
  flex-direction: column;
}

.contact__link {
  display: flex;
  align-items: center;
  gap: var(--space-4xs);
  font-size: var(--font-size-footer-favicon);
  text-decoration: none;
}

.contact__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-5xs);
}

.contact__hours {
  font-size: var(--font-size-body);
  color: var(--color-text-light);
}

.wrapper__contact__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.image__wrapper {
  font-size: var(--font-size-icon);
  position: relative;
}

.adress__info {
  font-size: var(--font-size-footer-xs);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

.section-info {
  width: 100%;
  background-color: var(--color-contact-section);
}

.section-info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 95%;
  width: var(--container-section);
  margin: 0 auto;
}

.contact-info__card {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-sm-plus);
  margin-bottom: var(--space-2xs);
  color: var(--color-white);
  background-image: url("../assets/images/pobocka.png");
  border-radius: var(--radius-sm);
  max-width: 80vw;
  width: 100%;
  min-height: var(--space-xl6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: var(--space-2xs);
}

.contact-info__card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: var(--radius-sm);
}

.contact-info__column {
  min-width: var(--column-max-width);
}

.contact-info__column--with-background {
  margin-top: var(--space-2xs);
}

.dm_heading h3 {
  font-size: var(--font-size-footer-xs);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.dm_heading span {
  font-size: var(--font-size-footer-xs);
  font-weight: var(--font-weight-regular);
}

.heading__footer {
  display: flex;
  gap: var(--space-2xs);
  align-items: center;
  justify-content: center;
}

.heading__footer img {
  width: 100%;
  max-width: var(--space-lg-extra);
  height: var(--space-xl);
  object-fit: cover;
}

.contact-info__column {
  list-style: none;
}

.contact-info__title {
  font-size: var(--space-2xs);
}

.contact-info__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact__info--text {
  justify-content: left;
}

.contact-info__list li {
  margin-bottom: var(--font-size-footer-xs)
}

.contact-info__list li a {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--space-2xs);
}

.footer-section {
  background-color: var(--color-footer);
  max-width: 100%;
}

.footer-section_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 95%;
  width: var(--container-section);
  margin: 0 auto;
  background-color: var(--color-footer);
  padding: var(--space-sm-plus) 0;
}

.footer__heading {
  font-size: var(--space-2xs);
}

.footer__copyright {
  font-size: var(--space-2xs)
}

/* media queries*/
@media screen and (min-width: 420px) {

  .nav__item--button {
    padding: var(--space-2xs);
  }

  .contact-info__card {
    max-width: 90vw;
    width: var(--space-xl7);
  }

  .main__title {
    font-size: var(--font-size-h1);
  }

  .contact__title {
    font-size: var(--main-title);

  }

  .contact__address-content {
    flex-direction: row;
    margin-left: 0;
  }

  .contact__address-content a {
    font-size: var(--font-size-footer-favicon);
  }

  .adress__info {
    text-align: left;
    font-size: var(--font-size-footer-md);
  }

  .dm_heading h3 {
    font-size: var(--font-size-h3);
  }

  .dm_heading span {
    font-size: var(--font-size-footer-md);
  }
}

@media screen and (min-width: 768px) {

  .nav__list--secondary {
    gap: var(--space-xl2);
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-xs);
  }

  .main {
    margin-top: 0;
  }

  .burger-icon {
    display: none;
  }

  .nav__right {
    flex-direction: row;
    transform: none;
    position: static;

  }

  @media (min-width: 900px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .nav__right {
    flex-direction: row;
  }

  .contact__title {
    font-size: var(--main-title);
  }

  .contact__subtitle {
    font-size: var(--space-2xs);
    color: var(--color-text-light);
  }

  .contact__address-content a {
    text-decoration: none;
    color: var(--color-text-heading);
    font-size: var(--space-1xs);
  }

  .contact-info__title {
    font-size: var(--space-2xs);
  }

  .contact-info__list li a {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--space-1xs);
  }

  .logo {
    width: var(--logo-width);
    height: var(--logo-height);
  }

  .nav {
    flex-direction: row;
  }

  .nav__list--secondary {
    flex-direction: row;
  }

  .footer__heading {
    font-size: var(--font-size-footer-xl2);
  }

  .footer__copyright {
    font-size: var(--space-1xs);
  }
}

@media (min-width: 1200px) {

  .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-height: 800px;
    padding-left: var(--space-2xs);
    padding-right: var(--space-2xs);
    grid-column-gap: var(--space-sm-plus);
  }

  .item1 {
    grid-row: span 7;
  }

  .item2 {
    grid-row: span 4;
  }

  .item3 {
    grid-row: span 5;
  }

  .item4 {
    grid-row: span 4;
  }

  .item5 {
    grid-row: span 6;
  }

  .item6 {
    grid-row: span 4;
  }

  .item7 {
    grid-row: span 4;
  }

  .item8 {
    grid-row: span 5;
  }

  .item9 {
    grid-row: span 4;
  }

  .item10 {
    grid-row: span 7;
  }

  .item11 {
    grid-row: span 4;
  }

  .item12 {
    grid-row: span 6;
  }

}